.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tasksProgress {
  display: flex;
  justify-content: space-between;
}

.tasksList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
